@charset "UTF-8";
/*обнуление*/
@import "../../css/fonts.css";
* {
  margin: 0px;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  outline: none;
}

:focus, :active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: PT Sans Narrow, arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #353535;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
header,
aside,
footer {
  display: block;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
label,
textarea {
  font-size: inherit;
}

button,
label,
input,
textarea {
  outline: none;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

.df {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.df-c {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.df-c-aic {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

body {
  background: #353535;
  color: #fff;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.section_btn {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e5ddd5;
  transition: all 0.1s ease-in-out;
}
.section_btn:hover {
  cursor: pointer;
  background: #a89f95;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.5), 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
.section_btn:active {
  background: #a89f95;
  color: #d5c9bd;
}

.header {
  width: 100%;
  height: 720px;
  position: relative;
  background: url(../img/header_background/header_background.jpg) no-repeat center;
  background-size: cover;
}
.header__nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.header__nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.header__nav_list .header__nav_item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav_list .header__nav_item:last-child {
  margin-left: 80px;
}
.header__nav_list .header__nav_item:hover {
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.header__nav_list .header__nav_item:hover .header__nav_link {
  color: #000;
}
.header__nav_list .header__nav_item:hover .nav__link-user::before {
  color: #000;
}
.header__nav_list .header__nav_item:active .nav__link-user::before {
  color: #fff;
}
.header__nav_list .header__nav_item .nav__link-user::before {
  content: "";
  position: relative;
  top: 2px;
  padding-right: 10px;
  font-size: 17px;
  font-family: "icomoon" !important;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}
.header__nav_list .header__nav_item .header__nav_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.header__nav_list .header__nav_item .header__nav_link:active {
  background: #000;
  color: #fff;
  border-bottom: 2px solid #826550;
  transition: none;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}
.header__logo .logo__img {
  max-width: 100%;
}
.header__form {
  display: none;
  width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 50px;
  text-align: center;
  color: #000;
  background: #f8f5f2;
  box-shadow: 0px 10px 45px 10px black;
  z-index: 2;
}
.header__form .header__close_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 30px;
  color: #fff;
  background: #826550;
  transition: all 0.3s ease-in-out;
}
.header__form .header__close_btn:hover {
  cursor: pointer;
  background: #6a4d38;
  transition: all 0.3s ease-in-out;
}
.header__form .header__close_btn::before {
  content: "✖";
  position: absolute;
  top: 7px;
  right: 12px;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  animation: close_btn 5s linear infinite;
}
.header__form .header__close_btn:hover::before {
  transform: scale(1.8);
}
@keyframes close_btn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__form_title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
}
.header__form_text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.header__form form .header__form_user input[type=text],
.header__form form .header__form_user input[type=password] {
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  padding: 20px 40px 20px 20px;
  font-size: 24px;
  color: #000;
  background: #fff;
  border: 1px solid #e5ddd5;
}
.header__form form .header__form_user .user_submit {
  width: 100%;
  padding: 10px 60px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: #826550;
  transition: all 0.3s ease-in-out;
}
.header__form form .header__form_user .user_submit[type=submit]:hover {
  background: #6a4d38;
  cursor: pointer;
}
.header__form form .header__form_user .form_user-icon {
  width: 100%;
  position: relative;
}
.header__form form .header__form_user .form_user-icon::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 20px;
  font-family: "icomoon" !important;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}
.header__form form .header__form_user .form_user-memory {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.header__form form .header__form_user .form_user-memory .checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.header__form form .header__form_user .form_user-memory .checkbox:checked + label:before {
  background: #fff;
}
.header__form form .header__form_user .form_user-memory .checkbox:checked + label:after {
  display: none;
}
.header__form form .header__form_user .form_user-memory .checkbox + label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__form form .header__form_user .form_user-memory .checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #e5ddd5;
}
.header__form form .header__form_user .form_user-memory .checkbox + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  width: 30px;
  height: 15px;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  transform: rotate(-56deg);
}
.header__form form .header__form_user .form_user-memory a {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}
.header__mobile_menu {
  position: relative;
  display: none;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  background: #826550;
}
.header__mobile_menu .header__mobile_title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header__mobile_menu .header__burger__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  background: #6a4d38;
}
.header__mobile_menu .header__burger__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background: #fff;
  box-shadow: 0px 12px 0px 0px #fff, 0px -12px 0px 0px #fff;
  transition: all 0.3s ease-in-out;
}
.header__mobile_menu .header__burger__btn:hover {
  cursor: pointer;
}
.header__mobile_menu .header__burger__btn.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background: #fff;
  box-shadow: 0px 12px 0px 0px #fff, 0px -12px 0px 0px #fff;
  transform: rotate(90deg);
  filter: blur(2px);
}
.header__mobile_menu .header__burger_menu {
  display: none;
  position: relative;
  text-align: center;
  background: #826550;
  z-index: 1;
}
.header__mobile_menu .header__burger_menu .header__burger_nav {
  box-shadow: inset 4px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.header__mobile_menu .header__burger_menu .header__burger_nav .header__burger_list .header__burger_item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.header__mobile_menu .header__burger_menu .header__burger_nav .header__burger_list .header__burger_item .header__burger_link {
  position: relative;
  width: 100%;
  padding: 20px 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.header__mobile_menu .header__burger_menu .header__burger_nav .header__burger_list .header__burger_item .header__burger_link:hover {
  background: #6a4d38;
}
.header__mobile_menu .header__burger_menu .header__burger_nav .header__burger_list .header__burger_item .nav__burger-user::before {
  content: "";
  position: relative;
  top: 2px;
  padding-right: 10px;
  font-size: 17px;
  font-family: "icomoon" !important;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.main .statistics {
  width: 960px;
  min-height: 320px;
  display: flex;
  position: relative;
  transform: translateY(-50%);
  margin: 0 auto;
  color: #000;
  background: #fff;
  box-shadow: 0px 10px 45px 0px #000;
}
.main .statistics__description {
  width: 320px;
  height: 100%;
  padding: 40px;
}
.main .statistics__description::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -39px;
  width: 0px;
  height: 0px;
  margin: 10px;
  border-top: 0px solid transparent;
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
}
.main .statistics__description_title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.main .statistics__description_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.main .statistics .statistics__price {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  background: #353535;
}
.main .statistics .statistics__price_item {
  width: 320px;
  padding: 30px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.main .statistics .statistics__price .price-bg-1 {
  animation: price-bg-1 2s linear infinite alternate;
}
@keyframes price-bg-1 {
  0% {
    background: #353535;
  }
  100% {
    background: #464646;
    box-shadow: inset 0px 0px 5px 2px #000;
  }
}
.main .statistics .statistics__price .price-bg-2 {
  animation: price-bg-2 2.5s linear infinite alternate;
}
@keyframes price-bg-2 {
  0% {
    background: #353535;
  }
  100% {
    background: #666666;
    box-shadow: inset 0px 0px 5px 2px #000;
  }
}
.main .statistics .statistics__price .price-bg-3 {
  animation: price-bg-3 3s linear infinite alternate;
}
@keyframes price-bg-3 {
  0% {
    background: #353535;
  }
  100% {
    background: #666666;
    box-shadow: inset 0px 0px 5px 2px #000;
  }
}
.main .statistics .statistics__price .price-bg-4 {
  animation: price-bg-4 3.5s linear infinite alternate;
}
@keyframes price-bg-4 {
  0% {
    background: #353535;
  }
  100% {
    background: #666666;
    box-shadow: inset 0px 0px 5px 2px #000;
  }
}
.main .statistics .statistics__price_title {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
}
.main .statistics .statistics__price_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #c3c0bd;
}
.main .advantage {
  max-width: 960px;
  margin: -100px auto 40px;
}
.main .advantage__items {
  display: flex;
  justify-content: space-around;
}
.main .advantage__item {
  width: 320px;
  text-align: center;
}
.main .advantage__img {
  margin-bottom: 30px;
}
.main .advantage__img img {
  animation: adw-img 10s linear infinite alternate;
}
@keyframes adw-img {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.main .advantage__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main .advantage__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.main .advantage__slider_mobile {
  display: none;
  margin-top: -70px;
}
.main .advantage__slider_mobile .slider {
  margin: 0 30px 40px;
}
.main .advantage__slider_mobile .slider .slick-track {
  display: flex;
  align-items: flex-start;
}
.main .advantage__slider_mobile .slider .slick-list {
  overflow: hidden;
}
.main .advantage__slider_mobile .slider .slick-dots {
  display: flex;
  justify-content: center;
}
.main .advantage__slider_mobile .slider .slick-dots li button {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  font-size: 0;
  background: #353535;
  border: 1px solid #e5ddd5;
  transform: rotate(45deg);
}
.main .advantage__slider_mobile .slider .slick-dots .slick-active button {
  background: #fff;
  border: 1px solid #e5ddd5;
}
.main .news {
  position: relative;
  padding: 50px 0 15px;
  background: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}
.main .news::after {
  content: "";
  position: absolute;
  top: -60px;
  left: 3px;
  width: 50%;
  height: 50px;
  background: #353535;
  transform: rotate(5deg) skew(5deg);
  z-index: 0;
}
.main .news::before {
  content: "";
  position: absolute;
  top: -60px;
  right: 3px;
  width: 50%;
  height: 50px;
  background: #353535;
  transform: rotate(-5deg) skew(-5deg);
  z-index: 0;
}
.main .news__items_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0 50px 0;
}
.main .news__items_main {
  display: flex;
  justify-content: space-around;
  margin: 0 120px 15px;
}
.main .news__items_main .news__item {
  max-width: 320px;
  display: flex;
  margin-right: 35px;
}
.main .news__items_main .news__item .news__item_time {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 7px 18px 0px 0px;
  padding: 10px;
  background: #000;
  z-index: 0;
}
.main .news__items_main .news__item .news__item_time::after {
  content: "";
  position: relative;
  bottom: 18px;
  width: 0px;
  height: 0px;
  margin: 10px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 16px solid #000;
  z-index: -1;
}
.main .news__items_main .news__item .news__item_time .number {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.main .news__items_main .news__item .news__item_time .month {
  margin-left: 3px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.main .news__items_main .news__item_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main .news .news__items_main-duble {
  display: none;
}
.main .news .news__items_main-duble .news__doble-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 120px 15px;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item {
  max-width: 320px;
  display: flex;
  margin-right: 35px;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item .news__item_time {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 7px 18px 0px 0px;
  padding: 10px;
  background: #000;
  z-index: 0;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item .news__item_time::after {
  content: "";
  position: relative;
  bottom: 18px;
  width: 0px;
  height: 0px;
  margin: 10px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 16px solid #000;
  z-index: -1;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item .news__item_time .number {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item .news__item_time .month {
  margin-left: 3px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.main .news .news__items_main-duble .news__doble-wrapper .news__item_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main .feedback {
  padding: 30px 0 15px;
  background: #f8f5f2;
}
.main .feedback .feedback__items_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.main .feedback .feedback__slider {
  width: 67%;
  margin: 0 0 0 155px;
}
.main .feedback .feedback__slider .feedback__slider_items {
  position: relative;
  margin: 0 30px 40px;
}
.main .feedback .feedback__slider .slick-track {
  display: flex;
  align-items: flex-start;
}
.main .feedback .feedback__slider .slick-arrow {
  width: 50px;
  height: 160px;
  position: absolute;
  top: 0;
  font-size: 0;
  border: 1px solid #e5ddd5;
  background: transparent;
  z-index: 2;
  transition: all 0.1s ease-in-out;
}
.main .feedback .feedback__slider .slick-arrow:hover {
  color: #fff;
  background: #a89f95;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.5), 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
.main .feedback .feedback__slider .slick-arrow.slick-prev {
  left: -70px;
}
.main .feedback .feedback__slider .slick-arrow.slick-prev::after {
  content: "";
  position: relative;
  font-family: "icomoon" !important;
  font-size: 25px;
}
.main .feedback .feedback__slider .slick-arrow.slick-next {
  right: -70px;
}
.main .feedback .feedback__slider .slick-arrow.slick-next::after {
  content: "";
  position: relative;
  font-family: "icomoon" !important;
  font-size: 25px;
}
.main .feedback .feedback__slider .feedback__item {
  width: 80%;
  display: flex;
  border: 1px solid #e5ddd5;
}
.main .feedback .feedback__slider .feedback__item .feedback__info {
  margin-left: 65px;
}
.main .feedback .feedback__slider .feedback__item .feedback__info .feedback__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #000;
}
.main .feedback .feedback__slider .feedback__item .feedback__info .feedback__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}
.main .feedback .feedback__slider .slick-track {
  display: flex;
}
.main .feedback .feedback__slider .slick-list {
  overflow: hidden;
}
.main .feedback .feedback__slider .slick-dots {
  display: flex;
  justify-content: center;
}
.main .feedback .feedback__slider .slick-dots li button {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  font-size: 0;
  background: #353535;
  border: 1px solid #e5ddd5;
  transform: rotate(45deg);
}
.main .feedback .feedback__slider .slick-dots .slick-active button {
  background: #fff;
  border: 1px solid #e5ddd5;
}