
*{
	margin: 0;
	padding: 0;
	border: 0;
}
*,
*::after,
*::before{
	box-sizing: border-box;
}
a{
	display: inline-block;
	text-decoration: none;
	transition: all .5s ease-in-out;
	outline: none;
}
:focus,:active{
	outline: none;
}
a:focus,
a:active{
	outline: none;
}
a,
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
   padding: 0;
   font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	background: #fff;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
nav,
header,
aside,
footer{
	display: block;
}
ul,
li{
	display: block;
	margin: 0;
	padding: 0;
	list-style-type:none;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	font-weight: 400;
}h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner{
	padding: 0;
	border: 0;
}
button,
label,
textarea{
	font-size: inherit;
}
button,
label,
input,
textarea{
	outline: none;
}
input::-ms-clear{
	display: none;
}
img{
	vertical-align: top;
}
.flex{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.clearfix::after{
	content:'';
	display: block;
	clear: both;
}


/********* ( СПЕЦИФИКАЦИЯ ) ***********/
.container{
   max-width: 1050px;
   margin: 0 auto;
   padding: 25px 10px;
}
.section_title{
   font-weight: 200;
   font-size: 40px;
   letter-spacing: -4px;
}
.section__text{
   line-height: 1.5em;
   color: rgb(255, 255, 255);
}
.title__purple{
   color: var(--main-color-purple);
}
.title__orange{
   color: var(--main-color-orange);
}
.purple{
   color: var(--main-color-purple);
}
.orange{
   color: var(--main-color-orange);
}
.title__description {
   font-size: 40px;
   text-transform: uppercase;
}
.section__curtain{
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
}
.section__curtain::after{
   content:'';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.88);
   z-index: -1;
}
.section__line {
   margin-bottom: 50px;
   padding: 10px;
   text-align: center;
   background: linear-gradient(to bottom, rgba(251, 139, 0, 0.7) 0%, rgba(251, 66, 255, 0.6) 100%);
}
.dropdown__btn{
   padding: 1px 25px;
   text-align: center;
   color: rgb(254, 217, 255);
   box-shadow: 0 6.666666666666667px 20px 0px rgb(0 0 0 / 10%);
   background-color: rgb(126, 0, 128);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.accordion-header{
   padding: 15px 20px;
   text-transform: uppercase;
   color: rgb(255, 209, 151);
   cursor: pointer;
}
.accordion-header::after{
   content:"\25BC";
   font-size: 21px;
   float: right;
}
.accordion-header.active::after{
   content:"\25B2";
}
.accordion-body{
   display: none;
   margin-bottom: 15px;
   padding: 5px;
   font-style: italic;
   background-color: rgba(255, 246, 255, 0.5);
   color: #333;
}
.accordion-body p{
   margin-bottom: 10px;
}
.accordion-body p:last-child{
   font-weight: 600;
   font-size: 18px;
   text-align: right;
}
/********* СПЕЦИФИКАЦИЯ**** ***********/

/********** ( ПЕРЕМЕННЫЕ ) *********/
:root {
   --main-color-purple: rgb(189, 0, 193);
   --main-color-orange: rgb(251, 139, 0);
}

/* .link {
  color: var(--color-primary);
} */
/********** ПЕРЕМЕННЫЕ *************/

/*-moz-transform:  Для Firefox */
/*-ms-transform:  Для IE */
/*-webkit-transform:  Для Safari, Chrome, iOS */
/*-o-transform:  Для Opera */


/* ========= header ============= */
.header {
   width: 100%;
   /* height: 100vh; */
   position: relative;
   display: flex;
   justify-content: center;
   background-image: url(../img/header/header-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.header::after{
   content:'';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: radial-gradient(rgba(251, 139, 1) 0%, rgba(251, 66, 255, 1) 100%);
   z-index: -1;
   opacity: 0.8;
}
.header__social {
   display: flex;
   justify-content: space-around;
   visibility: visible;
}
.social_link img {
   width: 50px;
}
.header__logo{
   text-align: center;
   margin-bottom: 20px;
}
.header__logo img {
   max-width: 130px;
}
.header__title {
   margin-bottom: 20px;
   font-size: 90px;
   text-align: center;
   line-height: 1;
   letter-spacing: -7px;
   text-shadow:#ccc 0 1px 0, 
               #c9c9c9 0 2px 0, 
               #bbb 0 3px 0, 
               #b9b9b9 0 4px 0,
               #aaa 0 5px 0, 
               rgb(0 0 0 / 10%) 0 6px 1px, 
               rgb(0 0 0 / 10%) 0 0 5px, 
               rgb(0 0 0 / 30%) 0 1px 3px, 
               rgb(0 0 0 / 15%) 0 3px 5px, 
               rgb(0 0 0 / 20%) 0 5px 10px, 
               rgb(0 0 0 / 20%) 0 10px 10px, 
               rgb(0 0 0 / 10%) 0 20px 20px;
}
.header__subtitle{
   color: rgb(255, 255, 255);
   text-shadow: rgb(0 0 0 / 50%) 2px 5px 4px;
   margin-bottom: 50px;
}
.header__subtitle strong{
   display: block;
   font-weight: 600;
   font-size: 60px;
   text-align: center;
}
.header__subtitle span{
   display: block;
   font-weight: 400;
   font-size: 30px;
   text-align: center;
   letter-spacing: 10px;
   line-height: 1.5em;
   text-transform: uppercase;
}
.button-registration{
   width: 100%;
   display: inline-block;
   text-align: center;
}
.header__button-registration{
   margin: 0 auto;
   padding: 15px 28px;
   font-size: 20px;
   text-transform: uppercase;
   color: rgb(255, 162, 48);
   border: 1px solid rgb(189, 0, 193);
   background-color: rgba(126, 0, 128, 0.76);
   cursor: pointer;
}
/* ========= header end ========= */

/* ========= main =============== */

/* section__government */
.section__government {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-image: url(../img/main/government/government-bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.government__content {
   max-width: 75%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}
.government__inner{
   max-width: 75%;
}
.government__title{
   margin-bottom: 20px;
}
.government__box{
   max-width: 25%;
}
.government__box img{
   max-width: 100%;
}
/* section__government end */

/* section__tasks */
.section__tasks {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-image: url(../img/main/tasks/tasks-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.tasks__content {
   max-width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}
.tasks__inner{
   max-width: 75%;
}
.tasks__title{
   margin-bottom: 20px;
}
.tasks__box{
   max-width: 35%;
   display: flex;
   padding: 15px 0;
}
.tasks__box img{
   width: 45%;
   margin: 0 5px;
}
/* section__tasks end */

/* section__mission */
.section__mission {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-image: url(../img/main/mission/mission-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.mission__content {
   max-width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}
.mission__inner{
   max-width: 75%;
}
.mission__title{
   margin-bottom: 20px;
}
.mission__box{
   max-width: 35%;
   display: flex;
   padding: 25px 0;
}
.mission__box img{
   width: 300px;
   margin-right: 50px;
}
/* section__mission end */

/* section miya__info */
.info__title {
   margin-bottom: 20px;
   font-size: 70px;
   text-align: center;
   line-height: 1;
   letter-spacing: -7px;
   text-shadow:#ccc 0 1px 0, 
               #c9c9c9 0 2px 0, 
               #bbb 0 3px 0, 
               #b9b9b9 0 4px 0,
               #aaa 0 5px 0, 
               rgb(0 0 0 / 10%) 0 6px 1px, 
               rgb(0 0 0 / 10%) 0 0 5px, 
               rgb(0 0 0 / 30%) 0 1px 3px, 
               rgb(0 0 0 / 15%) 0 3px 5px, 
               rgb(0 0 0 / 20%) 0 5px 10px, 
               rgb(0 0 0 / 20%) 0 10px 10px, 
               rgb(0 0 0 / 10%) 0 20px 20px;
}
.info__subtitle{
   margin-bottom: 10px;
}
.info__subtitle-1 {
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: -4px;
}
.info__subtitle-2 {
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: -3px;
}
.info__subtitle-3 {
   margin-bottom: 30px;
   font-weight: 600;
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: -3px;
}
.news-box {
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
}
.info__news-1 {
   width: 250px;
   height: 250px;
   background: url(../img/main/miya-info/info-1.jpg) no-repeat center;
   background-size: cover;
   border-radius:50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
}
.info__news-2 {
   width: 250px;
   height: 250px;
   background: url(../img/main/miya-info/info-2.jpg) no-repeat center;
   background-size: cover;
   border-radius:50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
}
.info-text {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   line-height: 19px;
}
.info-text p{
   margin-bottom: 20px;
}
.info-text p:last-child{
   font-weight: 600;
   font-size: 23px;
}
/* section miya__info end */

/* section__products */
.products__title {
   color: #000;
}
.products__inner {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.products__list {
   width: 60%;
   margin-left: 80px;
}
.products__item {
   margin: 20px;
   font-size: 24px;
   letter-spacing: -2px;
}
.products__img {
   max-width: 350px;
}
.products__img img{
   width: 100%;
}
/* section__products end */

/* section__promotion */
.section__promotion{
   width: 100%;
}
.section__promotion img{
   width: 100%;
}
/* section__promotion end*/

/* section__brainchild */
.section__brainchild {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-image: url(../img/main/brainchild/brainchild-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.brainchild__content {
   max-width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}
.brainchild__inner{
   max-width: 75%;
}
.brainchild__title{
   margin-bottom: 20px;
}
.brainchild__box{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 40%;
}
.brainchild__box img{
   max-width: 100%;
}
/* section__brainchild end */

/* section__founder */
.section__founder .section__line{
   margin: 0;
}
.founder__title {
   color: rgb(255, 255, 255);
}

.founder__biography {
   display: flex;
   justify-content: space-between;
   padding: 20px 0 0 0;
   background: url(../img/main/founder/founder-bg.jpg) no-repeat center;
   background-size: cover;
}
.founder__inner {
   width: 65%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 50px;
   padding-left: 50px;
   text-align: right;
}
.founder__name {
   margin-bottom: 20px;
   font-size: 26px;
}
.founder__text {
   color: rgb(255, 255, 255);
}
.founder__text p {
   margin-bottom: 15px;
}
.founder__text p:first-child{
   font-style: italic;
}
.fouder__signature {
   text-align: center;
}
.founder__photo {
   width: 770px;
}
.founder__photo img{
   width: 100%;
   filter: drop-shadow(7px -6px 2px rgb(0, 0, 0));
   -webkit-filter: drop-shadow(7px -6px 2px rgb(0, 0, 0));
}
.founder__video_inner {
   background: #000;
}
.video__items{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.video__item{
   width: 470px;
   height: 280px;
   margin: 20px;
   padding: 13px;
   background: url(../img/main/founder/founder-video.png) no-repeat;
   background-size: cover;
}
.founder__links {
   padding: 10px;
   background-color: rgba(251, 139, 0, 0.95);
}
.founder__links_inner {
   display: flex;
   justify-content: space-around;
}
.founder__link {
   padding: 10px 50px;
   font-size: 17px;
   text-align: center;
   color: rgb(255, 255, 255);
   letter-spacing: -2px;
   background-color: rgb(126, 0, 128);
}
.founder__link:hover{
   background-color: rgb(255, 255, 255);
   color: rgb(126, 0, 128);
}
/* section__founder end*/

/* section__manifestation */
.section__manifestation {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   background-image: url(../img/main/manifestation/manifestation-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.section__manifestation::after{
   content:'';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: radial-gradient(rgba(251, 139, 0, 0.8) 0%, rgba(251, 66, 255, 0.7) 100%);
   z-index: -1;
}
.manifestation__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.manifestation__text {
   padding: 20px;
   font-size: 14px;
   text-align: center;
   line-height: 17px;
   color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0.5);
}
.manifestation__text p{
   margin-bottom: 20px;
   line-height: 20px;
}
.manifestation__dropdown {
   width: 100%;
   margin-top: 30px;
}
.accordion__manifestation{
   width: 100%;
   margin: 0px;
   padding-left: 0;
}
/* section__manifestation end */

/* section__electronics */
/* .section__electronics{
   padding-top: 50px;
} */
.electronics__title{
   color: rgb(0, 0, 0);
}
.electronics__shop {
   display: flex;
   align-items: center;
   text-align: left;
   margin-bottom: 30px;
}
.shop__img {
   margin-right: 30px;
}
.shop_description {
   font-size: 20px;
   line-height: 25px;
}
.electronics__cashback {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   text-align: right;
}
.cashback__img {
   margin-left: 30px;
}
.cashback__deckription {
   font-size: 20px;
   line-height: 25px;
}
/* section__electronics end */

/* section__statistics */
.section__statistics {
   width: 100%;
   display: flex;
   justify-content: space-around;
   background-image: url(../img/main/brainchild/brainchild-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.statistics__content {
   max-width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
}
.statistics__inner{
   max-width: 75%;
}
.statistics__title{
   margin-bottom: 20px;
}
.statistics__box{
   max-width: 35%;
   display: flex;
   flex-direction: column;
   padding: 20px 0;
}
.statistics__box img{
   width: 70%;
   margin: 0 5px 10px 5px;
}
/* section__statistics end */

/* section__perks */
.section__perks {
   padding: 30px 0;
   background-image: linear-gradient(to bottom, rgb(255, 162, 48) 0%, rgb(252, 104, 255) 100%);
}
.perks__inner {
   display: flex;
   justify-content: space-around;
   padding: 15px 0;
   color: rgb(255, 255, 255);
   background-color: rgba(18, 14, 18, 0.6);
}
.perks__wrapper-1 {
   display: flex;
   flex-direction: column;
   padding: 0 5px;
   text-align: center;
   text-shadow: rgb(0 0 0 / 50%) 1px 3px 2px;
}
.perks__title {
   margin-bottom: 20px;
   font-size: 30px;
   letter-spacing: -2px;
}
.perks__procent {
   font-size: 30px;
   letter-spacing: -2px;
}
.perks__wrapper-2 {
   display: flex;
   flex-direction: column;
   padding: 0 5px;
   text-align: center;
   text-shadow: rgb(0 0 0 / 50%) 1px 3px 2px;
}
/* section__perks end */

/* section__bonus */
.bonus__wrapper{
   margin-bottom: 60px;
   text-align: center;
}
.certificates__wrapper{
   margin-bottom: 60px;
   text-align: center;
}
.bonus__title {
   font-size: 54px;
   margin-bottom: 20px;
   letter-spacing: -2px;
}
.bonus__lead {
   font-size: 38px;
   margin-bottom: 20px;
   letter-spacing: 1px;
}
.bonus__img {
   width: 60%;
}
.bonus__box{
   display: flex;
   margin-bottom: 20px;
}
.bonus__subtitle {
   font-size: 30px;
   margin-bottom: 20px;
   letter-spacing: 1px;
}
.bonus__column {
   margin: 0 10px;
   padding: 10px 5px;
   background-image: linear-gradient(to bottom, rgba(251, 139, 0, 0.7) 0%, rgba(251, 66, 255, 0.7) 100%);
   box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 50%);
}
.bonus__column_title {
   font-size: 26px;
   margin-bottom: 20px;
   letter-spacing: -2px;
}
.bonus__column_text {
   font-size: 18px;
   line-height: 27px;
}
.bonus__text {
   font-size: 20px;
   margin-bottom: 20px;
   letter-spacing: 0px;
   line-height: 23px;
}
.bonus__text p:last-child{
   font-size: 18px;
   margin: 30px 0;
   letter-spacing: -1px;
   line-height: 17px;
   font-weight: bold;
}
/* section__bonus end*/

/* section__costs */
.section__costs {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../img/main/costs/costs-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
}
.costs__inner {
   width: 600px;
   margin: 50px auto;
   padding: 20px 110px;
   background-color: rgba(255, 255, 255, 0.75);
}
.costs__title {
   font-size: 45px;
   line-height: 55px;
   text-align: center;
}
/* section__costs end */

/* section__education */
.section__education {
   width: 100%;
   text-align: center;
   background-image: url(../img/main/education/education-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.education__title {
   margin: 20px 0;
   font-size: 30px;
   text-transform: uppercase;
   letter-spacing: -1px;
   color: rgb(255, 255, 255);
}
.education__subtitle {
   margin-bottom: 30px;
   font-size: 36px;
   text-transform: uppercase;
   letter-spacing: -2px;
   color: #fff;
}
.education__video {
   position: relative;
}
.education__video iframe{
   position: absolute;
   left: 0;
   left: 50%;
   top: 48%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}
.education__text {
   color: rgb(255, 255, 255);
   line-height: 24px;
}
.education__dropdown {
   width: 100%;
   margin-top: 30px;
}
.accordion__education {
   width: 100%;
   margin: 0px;
   padding-left: 0;
}
/* ----------- education__photo ----------- */
.education__photo{
   width: 1030px;
	margin: 20px auto;
	columns: 3;
	column-gap: 5px;
   text-align: center;
}
.box{
   width: 100%;
   margin: 0 0 10px;
   break-inside: avoid;
   cursor: pointer;
}
.box img{
	max-width: 100%;
}
.my_modal{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	overflow: auto;
	background: rgba(0,0,0,.7);
	z-index: 1000;
}
.modal_content img {
   max-width: 100%;
}
.modal_wrapper{
	width: 80%;
	margin: 15% auto;
	z-index: 9999;
}
.modal_inner{
	display: flex;
	align-items: center;
	justify-content: center;
}
.close_modal_window{
	margin-top: -30px;
	font-size: 40px;
	font-weight: bold;
	color: var(--main-color-purple);
	cursor: pointer;
} 
@media(max-width:1050px){
	.education__photo{
		columns: 3;
	}
}
@media(max-width:1050px){
	.education__photo{
		columns: 3;
		width: calc(100% - 10px);
		box-sizing: border-box;
	}
}
@media(max-width:768px){
	.education__photo{
		columns: 2;
	}
}
@media(max-width:480px){
	.education__photo{
		columns: 1;
		text-align: center;
	}
}
/* ----------- education__photo end ----------- */

/* section__education end */

/* section certificate */
.section__certificate {
   background: #000;
}
.certificate__title {
   color: rgb(255, 255, 255);
}
.certificate__inner {
   width: 1030px;
   margin: 20px auto;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
	/* columns: 5; */
	column-gap: 5px;
	/* text-align: center; */
}
.certificate__inner .modal_content{
   text-align: center;
}
@media(max-width:1050px){
	.certificate__inner{
		columns: 5;
	}
}
@media(max-width:1050px){
	.certificate__inner{
		columns: 3;
		width: calc(100% - 10px);
		box-sizing: border-box;
	}
}
@media(max-width:768px){
	.certificate__inner{
		columns: 2;
	}
}
@media(max-width:480px){
	.certificate__inner{
		columns: 1;
		text-align: center;
	}
}
.certificate__button {
   display: flex;
   justify-content: center;
}
.certificate__button_inner{
   width: 100%;
   margin: 0 20px 50px 20px;
}
.certificate__dropdown {
   width: 100%;
}
.accordion__certificate .accordion-body {
   font-style: normal;
   text-align: left;
}
.accordion__certificate .accordion-body p:last-child {
   font-weight: 400;
   text-align: left;
}
/* section certificate end */

/* section partners */
.section__partners {
   padding-bottom: 30px;
   background: rgb(0, 0, 0);
}
.partners__title {
   color: rgb(255, 255, 255);
}
.partners__inner {
   display: flex;
   justify-content: center;
   column-gap: 15px;
}
.partners__block .modal_content img{
   width: 100%;
   text-align: center;
}
.partners__description {
   display: inline-block;
   position: relative;
   top: 50%;
   left: 50%;
   margin: 20px 0;
   text-align: center;
   color: rgb(255, 255, 255);
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}
.partners__description::after{
   content: '*';
   position: absolute;
   top: -2px;
   left: -15px;
   font-size: 20px;
}
.partners__gallery {
   width: 1030px;
	margin: 20px auto;
	columns: 3;
	column-gap: 5px;
   text-align: center;
}
.partners__gallery .close_modal_window{
   font-style: normal;
}
@media(max-width:1050px){
	.partners__gallery{
		columns: 5;
	}
}
@media(max-width:1050px){
	.partners__gallery{
		columns: 3;
		width: calc(100% - 10px);
		box-sizing: border-box;
	}
}
@media(max-width:768px){
	.partners__gallery{
		columns: 2;
	}
}
@media(max-width:480px){
	.partners__gallery{
		columns: 1;
		text-align: center;
	}
}
.partners__dropdown{
   margin: 0 50px;
}
/* section__partners end */

/* section__taxi */
.section__taxi {
   width: 100%;
   background-image: url(../img/main/taxi/taxi-work-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.taxi__content {
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}
.taxi__inner{
   max-width: 60%;
}
.taxi__text{
   margin: 0 30px;
   text-align: right;
}
.taxi__text p{
   padding-bottom: 20px;
   text-transform: uppercase;
}
.taxi__box{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 40%;
}
.taxi__box img{
   max-width: 100%;
}
.taxi__work {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}
.taxi__work_content {
   max-width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0 20px;
}
.taxi__work_inner {
   max-width: 80%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.taxi__work_title{
   margin-bottom: 20px;
}
.work__box  img{
   max-width: 100%;
}
.taxi__work_dropdown {
   width: 100%;
   margin-top: 30px;
}
.taxi__work_dropdown .accordion-body{
   font-style: normal;
   text-align: left;
}
.taxi__work_dropdown .accordion-body p:last-child{
   font-weight: 400;
   text-align: left;
}
.taxi__work_dropdown .accordion-body strong{
   text-transform: uppercase;
   line-height: 30px;
}
.accordion__taxi {
   width: 100%;
   margin: 0px;
   padding-left: 0;
}
.taxi__info_block .modal_content img{
   width: 100%;
   text-align: center;
}
.taxi__info {
   width: 1030px;
	margin: 20px auto 0;
	columns: 3;
	column-gap: 5px;
   text-align: center;
}
.taxi__info_block .my_modal{
   z-index: 1;
}
@media(max-width:1050px){
	.taxi__info{
		columns: 5;
	}
}
@media(max-width:1050px){
	.taxi__info{
		columns: 3;
		width: calc(100% - 10px);
		box-sizing: border-box;
	}
}
@media(max-width:768px){
	.taxi__info{
		columns: 2;
	}
}
@media(max-width:480px){
	.taxi__info{
		columns: 1;
		text-align: center;
	}
}
/* section__taxi end */

/* section__earnings */
.section__earnings{
   background: rgb(0, 0, 0);
   z-index: 0;
}
.earnings__title {
   color: rgb(255, 255, 255);
}
.earnings__inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
}
.earnings__block {
   width: 300px;
   height: auto;
   margin: 10px;
}
.earnings__img {
   max-width: 100%;
}
/* section__earnings end */

/* section__card */
.section__card {
   width: 100%;
   background-image: url(../img/main/card/card-bg.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.taxi__title {
   color: rgb(255, 255, 255);
}
.card__logo {
   margin-bottom: 40px;
   padding: 10px;
   text-align: center;
}
.card__logo img{
   max-width: 100%;
}
.card__block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-bottom: 20px;
}
.card__box {
   width: 300px;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   text-align: center;
}
.card__icon {
   width: 80px;
   height: auto;
   margin: 0 auto 10px;
}
.card__title {
   font-size: 20px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: -1px;
   color: rgb(255, 255, 255);
}
.card__data{
   margin-bottom: 10px;
   font-size: 24px;
   text-transform: uppercase;
}
.card__description{
   color: rgb(255, 255, 255);
}
.card__description p{
   margin-bottom: 5px;
}
/* section__card end */

/* section__news */
.section__news {
   background: rgb(0, 0, 0);
}
.news__title {
   color: rgb(255, 255, 255);
}
.news__inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.news__box {
   max-width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 20px 40px;
}
.news__img {
   width: 100%;
   text-align: center;
}
.news__img img{
   max-width: 100%;
}
.news__button {
   width: 100%;
   margin-top: 10px;
}
.news__dropdown {
   padding: 1px 5px;
}
.news__dropdown .accordion-header {
   padding: 15px 0;
}
.news__button .accordion-body{
   font-style: normal;
   text-align: center;
}
.news__button .accordion-body p:last-child{
   font-weight: 400;
   text-align: center;
}
/* section__news end */

/* section__contacts */
.contact__end {
   width: 100%;
   height: 400px;
   position: relative;
   background-image: url(../img/footer/contacts/contacts-bg.png);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   z-index: 1;
}
.contact__end::after{
   content:'';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: radial-gradient(rgba(251, 139, 0, 0.67) 0%, rgba(251, 66, 255, 0.54) 100%);
   z-index: -1;
}
.contack__inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 50px 10px;
   background: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}
.contact__photo {
   width: 250px;
   margin: 0 auto 20px;
}
.contact__photo img{
   max-width: 100%;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
.contact__info{
   width: 900px;
}
.contact__info p{
   margin-bottom: 10px;
}
.contact__title {
   margin-bottom: 15px;
   font-size: 26px;
   text-transform: uppercase;
}
.contact__email{
   margin-bottom: 5px;
}
.contact__email a{
   color:#551A8b;
}
.contact__social {
   margin-bottom: 5px;
}
/* section__contacts end */

/* ========= main end =========== */

/* ========= footer ============= */
/* ========= footer end ========= */
