.left{
	float:left;
}

.right{
	float:right;
}

.clearfix:after{
	content:'';
	display: block;
	clear: both;
}

@font-face {
	font-family: 'corbel_bold';
	src: url('../fonts/corbelb/corbelb.eot');
	src: local('☺'), url('../fonts/corbelb/corbelb.woff') format('woff'), 
	url('../fonts/corbelb/corbelb.ttf') format('truetype'), 
	url('../fonts/corbelb/corbelb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Lobster';
	src: url('../fonts/Lobster/Lobster.eot');
	src: local('☺'), url('../fonts/Lobster/Lobster.woff') format('woff'), 
	url('../fonts/Lobster/Lobster.ttf') format('truetype'), 
	url('../fonts/Lobster/Lobster.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0;
}

.header{
	width: 1200px;
	margin: 0 auto;
}

.top_line{
	background-color: #008ed4;
	height: 71px;
}

.logo{
	width: 189px;
	height: 71px;
	background-color: #fff;
}

.logo img{
	padding: 8px 0px 0px 16px;
}

.menu{padding: 23px 0px 0px 0px;}

.menu ul{
	margin: 0;
	padding: 0;
}

.menu ul li{ 
	list-style-type: none;
	margin: 0;
	float: left;
}

.menu a{
	text-decoration: none;
	padding: 24px 14px 23px 20px;
	font: 20px corbel_bold,arial,sans-serif;
	color: #fff;
}

.menu a:hover{
	background-color: #00a4e6;
}

.icon{
	display: inline-block; 
	background: url(../images/sprites.png) no-repeat; 
	vertical-align:middle;
}

.telephone{
	width: 250px;
	height: 71px;
	background-color: #008ed4;
	margin-left: 92px;
	cursor: pointer;
}

.telephone span {
	 background-position: -1px -240px;
	 width: 19px; 
	 height: 19px; 
}

.telephone a{
	text-decoration: none;
	display: inline-block;
	font: 20px arial,sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 23px 0px 0px 28px;
}

.telephone:hover{
	background-color: #00b4ec;
	box-shadow: inset 4px -4px 4px -2px #000;
	border-radius: 50%;
}

.entry span{ 
	background-position: -1px -218px; 
	width: 25px; 
	height: 21px; 
}

.entry{
	width: 121px;
	height: 71px;
	background-color: #008ed4;
	cursor: pointer;
}

.entry a{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font: 18px arial,sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 24px 0px 0px 27px;
}

.entry:hover{
	background-color: #00a4e6;
	box-shadow: inset 0px 0px 10px -2px #000;
	border-radius: 10%;
}

.menu_2{
	width: 1200px;
	height: 148px;
	margin: 0 auto;
}

.logo_1{
	width: 50%;
}
.menu_nikko{
	width: 41%;
}

.logo_1 h1{
	margin: 0;
	font:54px/40px corbel_bold,arial,sans-serif;
	color: #1981c3;
	padding: 56px 0px 0px 12px;
}

.menu_nikko ul{
	margin: 66px 0px 0px 45px; 
	list-style-type: none;
}

.menu_nikko ul li{
	display: inline-block;
}

.menu_nikko a{
	display: inline;
	font:17px/27px corbel_bold,arial,sans-serif;
	color: #008ed4;
	padding: 10px 18px 10px 18px;
}

.menu_nikko a:hover{
	background-color: #205ea9;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

.content{
	margin: 0 auto;
	margin-bottom: 40px;
}

.top_img{
	margin: 0 auto;
	width: 1200px;
	height: 488px;
	background-image: url(../images/top_img.jpg);
	background-position: 50% 50%;
}



.head_hanter,.vacancies{
	width: 48%;
	height: 300px;
	border: 3px solid #44c0ef;
	border-radius: 20px;
	margin-top: 30px;
}

.nikko_vacancies{
	width: 1200px;
	margin: 0 auto;
}

.hh p,.top_vacancies{
	margin: 0;
	padding: 40px 0px 0px 36px;
	font: 20px/30px Conv_Lobster,arial,sans-serif;
	color: #0073bd;
}

.hh{
	width: 65%;
}

.hh_img{
	width: 35%;
	padding: 68px 0px 0px 0px;
	text-align: center;
}

button{
	border: none;
	background-color: #00a3e5;
	border-radius: 5px;
	padding: 0px 40px;
	font: 20px/40px arial, sans-serif;
	color: #fff;
	cursor: pointer;
}

button:hover{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px -2px #00a3e5;
	color:#00a3e5;
}

form{
	padding: 30px 0px 0px 35px;
}

.vacancies{
	position: relative;
}

.top_vacancies{
	width: 49%;
}

.vacancies_img{
	position: absolute;
	width: 35%;
	top:45px;
	left:340px;
}

.top_vacancies p,h2{
	margin: 0;
	padding: 0px 0px 30px 0px;
}

.top_vacancies form{
	padding: 0px;
}

footer{
	margin: 0 auto;
	width: 1200px;
	height: 380px;
	background: url(../images/line.png) no-repeat;
	background-position: top;
}

.footer_menu{
	width: 70%;
}

.social{
	width: 30%;
}

.footer_menu a{
	text-decoration: none;
	font: 22px/37px corbel_bold,arial,sans-serif;
	color: #1981c3;
}

.footer_menu a li{
	padding-top: 10px;
	text-decoration: none;
	font: 18px/37px corbel_bold,arial,sans-serif;
	color: #62b4d6;
}

.footer_menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer_menu a:hover{
	border-bottom: 3px solid #64c7f0 ;
}

.you_nikko,.services,.shares,.adress,.social{
	margin-top: 50px;
}

.you_nikko,.services,.shares,.adress{
	padding-left: 50px;
}

.facebook span { 
	background-position: -1px -0px; 
	width: 36px; 
	height: 36px; 
}

.odnoklasniki span{ 
	background-position: -1px -110px; 
	width: 36px; 
	height: 35px; 
}

.vkontakte span{ 
	background-position: -1px -146px; 
	width: 36px; 
	height: 35px; 
}

.facebook:hover span{ 
	background-position: -1px -37px; 
	width: 36px;
	height: 36px; 
}
.odnoklasniki:hover span{ 
	background-position: -1px -74px; 
	width: 36px; 
	height: 35px; 
}
.vkontakte:hover span{ 
	background-position: -1px -182px; 
	width: 36px; 
	height: 35px; 
}

.social_s a{
	display: inline-block;
	text-decoration: none;
	padding-left: 15px;
}

.social_s p,.information p{
	margin: 0;
	font: 22px/30px corbel_bold,arial,sans-serif;
	color: #1981c3;
}

.fa{
	display: inline-block;
	position: relative;
	font-size: 25px;
	left: -28px;
	color:#fff;
}

.fa-vk{
	position: relative;
	left:-31px;
	top: 2px;
}

.fa-facebook{
	left:-25px;
	top: 2px;
}



.information p{
	display: inline-block;
	padding-top: 30px;
}

.telephone_blu span{ 
	background-position: -21px -240px; 
	width: 15px; 
	height: 18px;
	padding-right: 10px; 
}

.telephone_blu a,.message a{
	display: inline-block;
	text-decoration: none;
	color:#1981c3;
	font: 16px corbel_bold,arial,sans-serif;
	margin-top: 20px;
}

.message span{ 
	background-position: -1px -260px; 
	width: 18px; 
	height: 14px;
	padding-right: 10px; 
}

.footer_info{
	width: 1200px;
	height: 80px;
	margin: 0;
	margin-top: 100px;
	border-top: 2px solid #e3e3e3; 
}

.rights p,.developer p{
	font: 16px arial,sans-serif;
	color: #555;
	text-decoration: none;
	vertical-align: middle;
}

.developer a{
	display: inline-block;
	margin-top: 15px;
}

.developer p{
	padding-right: 20px;
}