/* 1601 - 1920 */
@media (max-width: 2560px) {
  .main .advantage__items .advantage__item {
    padding: 0 35px;
    border-right: 1px solid #4a4a4a;
  }
  .main .advantage__items .advantage__item:last-child {
    border-right: none;
  }
  .main .advantage__items .advantage__item:nth-child(2) {
    padding-right: 40px;
  }

  .footer .footer__inner .fx-2 {
    order: 0;
  }
}
@media (max-width: 2320px) {
  .main .news::after {
    top: -52px;
  }
  .main .news::before {
    top: -52px;
  }
}
@media (max-width: 1950px) {
  .main .news::after {
    top: -44px;
  }
  .main .news::before {
    top: -44px;
  }
}
/* 1369 - 1600 */
@media (max-width: 1600px) {
  .main .news::after {
    top: -36px;
  }
  .main .news::before {
    top: -36px;
  }
}
/* 961 - 1368 */
@media (max-width: 1220px) {
  .main .news::after {
    top: -28px;
  }
  .main .news::before {
    top: -28px;
  }
}
@media (max-width: 1050px) {
  .main .statistics {
    width: 768px;
    min-height: 240px;
    flex-direction: column;
    transform: translateY(-38%);
  }
  .main .statistics .statistics__description {
    width: 100%;
  }
  .main .statistics .statistics__price {
    width: 768px;
  }
  .main .statistics .statistics__price .statistics__price_item {
    width: 50%;
  }
}
@media (max-width: 960px) {
  .main .advantage__items {
    flex-direction: column;
  }
  .main .advantage__items .advantage__item {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    text-align: start;
    border-right: none;
    border-bottom: 1px solid #4a4a4a;
  }
  .main .advantage__items .advantage__item .advantage__img {
    margin: 0;
  }
  .main .advantage__items .advantage__item .advantage__info {
    padding: 0 20px 0 30px;
  }
  .main .news::after {
    width: 52%;
    left: -14px;
  }
  .main .news::before {
    width: 50%;
    right: 0px;
  }
  .main .news .news__items_main {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .main .news .news__items_main .news__item {
    min-width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5ddd5;
    padding-bottom: 20px;
  }
  .main .news .news__items_main .news__item .news__item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .news .news__items_main-duble .news__doble-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .main .news .news__items_main-duble .news__doble-wrapper .news__item {
    min-width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5ddd5;
    padding-bottom: 20px;
  }
  .main .news .news__items_main-duble .news__doble-wrapper .news__item .news__item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .feedback .feedback__slider {
    width: 78%;
    margin: 0 auto;
  }
  .main .works .works__body .work__item {
    display: flex;
    flex-basis: auto;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 860px) {
  .main .statistics {
    width: 100%;
    margin: 0;
    transform: translateY(-25%);
  }
  .main .statistics .statistics__description {
    text-align: center;
  }
  .main .statistics .statistics__description::after {
    display: none;
  }
  .main .statistics .statistics__price {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header .header__nav .header__nav_list .header__nav_item:hover .nav__link-user::before {
    color: #826550;
  }
  .header .header__nav .header__nav_list .header__nav_item:hover {
    background: #000;
  }
  .header .header__nav .header__nav_list .header__nav_item a:hover {
    color: #826550;
  }
  .header .header__nav .header__nav_list .header__nav_item a:active {
    color: #fff;
    border-bottom: 2px solid #826550;
    transition: none;
    color: #fff;
  }

  .main .advantage .advantage__items .advantage__item {
    width: 90%;
  }
  .main .news::after {
    width: 52%;
    left: -10px;
  }
  .main .feedback .feedback__slider {
    width: 85%;
    margin: 0 auto;
  }
  .main .feedback .feedback__slider .feedback__slider_items .feedback__item .feedback__info {
    margin-left: 15px;
  }
  .main .works .container_works {
    padding: 0 10px;
  }
  .main .works .container_works .works__body .work__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 0px 0px 20px 0px;
  }
  .main .works .container_works .works__body .work__item .work__img {
    width: 100%;
    text-align: center;
  }
  .main .works .container_works .works__body .work__item .work__img img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
  .main .works .container_works .works__body .work__description {
    width: 100%;
    padding: 0 20px;
  }
  .main .works .container_works .works__body .work__description .work__description_month {
    position: static;
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
  .main .works .container_works .works__body .work__description .work__description_month::before, .main .works .container_works .works__body .work__description .work__description_month::after {
    display: none;
  }

  .footer .footer__inner {
    flex-direction: column;
  }
  .footer .footer__inner .footer__item .footer__item_social {
    display: flex;
  }
  .footer .footer__inner .footer__item .footer__item_social .vkontakte::after {
    top: 35px;
  }
  .footer .footer__inner .footer__item .footer__item_social .facebook::after {
    top: 35px;
  }
  .footer .footer__inner .footer__item .footer__item_social .instagram::after {
    top: 35px;
  }
  .footer .footer__inner .footer__item .footer__item_social a {
    width: 215px;
    height: 100px;
  }
  .footer .footer__inner .fx-2 {
    width: 100%;
    margin: 20px auto 0;
    order: 2;
  }
  .footer .footer__inner .fx-2 .footer__item_title {
    display: none;
  }
  .footer .footer__inner .fx-3 {
    width: 30%;
    position: absolute;
    right: 50px;
  }
}
@media (max-width: 640px) {
  .header__nav {
    display: none;
  }
  .header__logo {
    margin-top: 0px;
    padding-top: 30px;
  }
  .header__mobile_menu {
    display: block;
  }
  .header__mobile_menu .header__burger_menu .header__burger_nav .header__burger_list .header__burger_item .header__burger_link {
    padding: 17px 0;
  }

  .main .statistics .statistics__price {
    flex-direction: column;
  }
  .main .statistics .statistics__price .statistics__price_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main .statistics .statistics__price .statistics__price_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main .advantage {
    display: none;
  }
  .main .advantage__slider_mobile {
    display: block;
  }
  .main .news::after {
    width: 52%;
    left: -8px;
  }
  .main .news .news__items_main {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main .news .news__items_main-duble .news__doble-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main .feedback .feedback__slider {
    width: 92%;
    margin: 0 auto;
  }
  .main .feedback .feedback__slider .feedback__slider_items .feedback__item .feedback__img img {
    display: none;
  }
  .main .feedback .feedback__slider .feedback__slider_items .feedback__item .feedback__info {
    margin-left: 15px;
  }

  .footer .footer__inner .footer__item {
    width: 100%;
    text-align: center;
  }
  .footer .footer__inner .fx-2 {
    margin: 20px auto;
    order: 0;
  }
  .footer .footer__inner .fx-3 {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .footer .footer__inner .fx-3 .footer__item_title {
    margin-right: 0;
  }
  .footer .footer__inner .fx-3 .developer__link {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .header__form {
    width: 95%;
  }
  .header__form .header__form_title {
    padding-bottom: 0;
    font-size: 24px;
  }
  .header__form .header__form_text {
    font-size: 14px;
  }
  .header__form form .header__form_user .form_user-memory {
    margin: 15px 0;
  }
  .header__form form .header__form_user .form_user-memory label {
    font-size: 12px;
  }
  .header__form form .header__form_user .form_user-memory a {
    font-size: 12px;
  }
  .header__form form .header__form_user .user_submit {
    padding: 10px;
    font-size: 14px;
  }

  .main .statistics .statistics__description {
    padding: 20px;
  }
  .main .statistics .statistics__price .statistics__price_item {
    padding: 14px;
  }
  .main .statistics .statistics__price .statistics__price_item .statistics__price_title {
    font-size: 40px;
  }
  .main .statistics .statistics__price .statistics__price_item .statistics__price_text {
    font-size: 14px;
  }
  .main .news .news__items_header {
    flex-direction: column;
    text-align: center;
  }
  .main .news .news__items_header .section__title {
    font-size: 30px;
  }
  .main .news .news__items_header .news__btn {
    width: 45%;
    margin: 20px auto 0;
    padding: 5px 17px;
  }
  .main .feedback .feedback__items_header {
    flex-direction: column;
    text-align: center;
  }
  .main .feedback .feedback__items_header .section__title {
    font-size: 30px;
  }
  .main .feedback .feedback__items_header .feedback__btn {
    width: 50%;
    margin: 20px auto 0;
    padding: 5px 17px;
  }
  .main .feedback .feedback__form {
    width: 95%;
  }
  .main .feedback .feedback__form .feedback__form_title {
    padding-bottom: 0;
    font-size: 24px;
  }
  .main .feedback .feedback__form form .feedback__form_user .user_submit {
    padding: 10px;
    font-size: 14px;
  }
  .main .works .container_works .works__header {
    justify-content: space-between;
  }

  .footer .footer__inner .footer__item .footer__item_adress {
    font-size: 14px;
  }
  .footer .footer__inner .footer__item .footer__item_tel a {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  .main .news::after {
    width: 52%;
    left: -6px;
  }
  .main .works .container_works .works__header {
    justify-content: center;
  }
  .main .works .container_works .section_btn {
    display: none;
  }

  .feedback .feedback__items_header .feedback__btn {
    font-size: 17px;
  }
}
/*@media screen and (min-width: 320px) and (max-width: 479px) {}*/