@import"normalize.css";

body{background: #fff;font-family:arial,sans-serif;margin: 0;padding: 0;}
ul{margin: 0;padding: 0;list-style-type:none;}
a{text-decoration: none;}
.flex{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.left{text-align: left;}
.right{text-align: right;}
.clearfix:after{content:'';display: block;clear: both;}

/*=========fonts=========*/

@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}
/*=========fonts end=========*/

/* ---------Specification start--------- */

.jaapok-font{
	font-family: 'Jaapokkisubtract', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Jaapokkisubtract', sans-serif;
	letter-spacing: 0.14em;
	font-weight: normal;
	line-height: 1.25em;
}

div, p, span, a, input, button{
	box-sizing: border-box;
}

p{
	line-height: 1.7em;
}

.btn{
	width: 217px;
	background: transparent;
	font-family: 'Jaapokkisubtract', sans-serif;
	font-size: 20px;
	color: #fff;
	border: 3px solid #fff;
	cursor: pointer;
	padding: 17px 0;
	transition: all 0.5s ease;
}

.btn:hover{
	background: #fff; 
	color: #0001c5;
}

h2{
	letter-spacing: 0.04em;
	margin: 0;
}

h3{
	letter-spacing: 0.03em;
}

/* Specification end */

body{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #0001c5;
	letter-spacing: 0.06em;
}

/* ---------header start--------- */

.header{
	background: #0406bd url(../images/first_bg.jpg) no-repeat center bottom / cover;
	color: #fff;
	height: 100vh;
	-webkit-box-shadow: 0 40px 190px rgba(33, 48, 99, 0.4);
	box-shadow: 0 40px 190px rgba(33, 48, 99, 0.4);
}

.container{
	margin: 0px 7%;
	position: relative;
}

.header .container{
	height: 100vh;
}

.logo{
	width: 48px;
	height: 48px;
	background-color: #fff;
	color: #0000a0;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	line-height: 48px;
	display: block;
	text-decoration: none;
	transition: all 0.5s ease;
	position: absolute;
	top: 8%;
	z-index: 10;
}

.logo:hover{
	border-radius: 8px;
}

.brah{
	width: 41px;
	height: 184px;
	background-color: #fff;
	color: #0304b9;
	font-size: 18px;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	left: 61%;
	line-height: 1.5em;
	transition: all 0.5s ease;
}

.brah:hover{
	background-color: #0304b9;
	color: #fff; 
}

.hamburger{
	width: 40px;
	position: absolute;
	right: 0;
	top: 8%;
	cursor: pointer;
}

.hamburger span{
	background: #fff;
	display: block;
	height: 2px;
	margin-bottom: 6px;
	float: right;
	width: 100%;
}

.hamburger span:nth-child(1){
	
}

.hamburger span:nth-child(2){
	width: 75%;
}

.hamburger span:nth-child(3){
	width: 50%;
}

.hamburger:hover span{
	float: left;
}

.offer{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -250px;
}

.offer-bg{
	font-size: 300px;
	color: #1b1cc4;
	position: absolute;
}

.offer-title{
	position: relative;
	font-size: 55px;
	width: 561px;
	margin-top: 110px;
	margin-left: 134px;
}

.offer-title:after{
	content: '';
	display: block;
	position: absolute;
	background: #fff;
	width: 29px;
	height: 5px;
	right: 180px;
	top: -20px;
}

.offer-text{
	width: 337px;
	font-size: 17px;
	margin: 40px 0px 0px 225px;
}

.offer-btn{
	margin: 55px 0px 0px 350px;
}

.next{
	font-size: 300px;
	width: 435px;
	position: absolute;
	left: 65%;
	top: 50%;
	margin-top: -180px;
	line-height: 0;
	text-shadow: 15px 15px 0 #01039d;
}

.next span{
	margin-right: -70px;
	line-height: 0.7em;
}

.next span:nth-child(2){
	color: #0048ff;
}

.scroll{
	width: 100px;
	height: 135px;
	display: block;
	border-right: 3px solid #fff;
	font-size: 22px;
	line-height: 27px;
	text-decoration: none;
	padding-right: 45px;
	padding-top: 20px;
	color: #fff;
	position: absolute;
	right: 5%;
	bottom: 0;
	transition: all 0.5s ease;
}

.scroll:hover{
	background: #fff;
	color: #090baa;
}

/* ---------header end--------- */

/* ---------main start--------- */

.services{
	padding: 160px 0px 160px 0px;
}		

.section-title{
	
}

.section-title-title{
	font-size: 85px;
	color: #0001c5;
	margin-left: 50px;
	position: relative;
}

.section-title-title:after{
	content: '';
	display: inline-block;
	width: 29px;
	height: 5px;
	background: #1e1fec;
	margin-bottom: -15px;
}

.title-intro{
	margin: 0;
	font-family: 'Jaapokkisubtract', sans-serif;
	font-size: 23px;
	line-height: 2.5em;
	color: #8585e3;
}

.service{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.service-item{
	width: 20%;
	border: 4px solid #0001c5;
	display: block;
	padding-left: 53px;
	padding-top: 60px;
	padding-bottom: 120px;
	position: relative;
	transition: all 0.5s ease;
}

.service-item:hover{
	background: #0001c5;
	color: #fff;
	box-shadow: 10px 10px 65px rgba(0,1,197,0.45);
	cursor: pointer;
}

.service-icon{
	font-size: 40px;
	margin-bottom: 45px;
	display: inline-block;
}

.service-title{
	font-size: 26px;
}

.service-more{
	width: 40px;
    height: 40px;
    font-size: 20px;
    background: #0001c5;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: -4px;
    bottom: -4px;
    font-weight: bold;
    padding-top: 8px;
}

.service-index{
	position: absolute;
	left: -55px;
	top: 30px;
	font-size: 23px;
	font-family: 'Jaapokkisubtract', sans-serif;
	color:#8585e3;
}

/* ---------main end--------- */

/* ---------footer start--------- */



/* ---------footer end--------- */

.footer{
	background: #ededf8;
	padding: 160px 0px;
}

.logo-info{
	background: #0001c5;
	color: #fff;
	position: relative;
	top: auto;
}

.info-btn{
	width: 170px;
	color: #0001c5;
	padding: 13px 0px;
	border: 3px solid #0001c5;
	font-size: 13px;
}

.info-btn:hover{
	background: #0001c5;
	color: #fff;
}

.info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.info-up{
	text-decoration: none;
	font-size: 30px;
	color: #0001c5;
}











